{% extends "base.html" %}
<style>
  div {
    background: red;
    margin: 5px;
  }
  table {
    border: 2px solid black;
  }
  td {
    padding: 10px;
    border: 1px solid lightgrey;
  }
</style>
{% block pageTitle %}Add New System{% endblock %}
{% block content %}
<p>Populate the tables</p>

<!-- first form for component-->
<!-- this one has dynamtic number of columns and rows-->
<form name="myform" id="myform">
  <table id="table">

      <button type="button" id="addRow">Add Row</button>
      &nbsp;
      <button type="button" id="addCol">Add column</button>
      <br></br>

      <tr id="one">
          <td>Component Name</td>
          <td>State 1</td>
      </tr>
      <tr id="two">
          <td>
              <input type="text" name="Component name" />
          </td>
          <td>
              <input type="text" name="State1" />
          </td>

      </tr>
  </table>
  <br></br>
</form>

<!-- Second form for component-->
<!-- this one has static number of columns but the user can add rows-->
<form name="myform" id="myform2">
  <table id="table2">

      <button type="button" id="addRow2">Add Row</button>
      <br></br>

      <tr id="one2">
          <td>Component Name</td>
          <td>Property</td>
          <td>Minimum Value</td>
          <td>Maximum Value</td>

      </tr>
      <tr id="two2">
          <td>
              <input type="text" name="Component Name" />
          </td>
          <td>
              <input type="text" name="Property" />
          </td>
          <td>
              <input type="text" name="Minimum Value" />
          </td>
          <td>
              <input type="text" name="Maximum Value" />
          </td>
      </tr>
  </table>
  <br></br>
</form>

<!-- first form for environmental Entity-->
<!-- this one has dynamtic number of columns and rows-->
<form name="myform1" id="myform1">
  <table id="table1">
      <button type="button" id="addRow1">Add Row</button>
      &nbsp;
      <button type="button" id="addCol1">Add column</button>
      <br></br>

      <tr id="one1">
          <td>Envi. Entity Name</td>
          <td>State 1</td>
      </tr>
      <tr id="two1">
          <td>
              <input type="text" name="Envi Entity Name" />
          </td>
          <td>
              <input type="text" name="State1" />
          </td>

      </tr>
  </table>
  <br></br>
</form>

<!-- second form for environmental Entity-->
<!-- this one has static number of columns but the user can add rows-->
<form name="myform" id="myform3">
  <table id="table3">

      <button type="button" id="addRow3">Add Row</button>
      <br></br>

      <tr id="one3">
          <td>Envi. Entity Name</td>
          <td>Property</td>
          <td>Minimum Value</td>
          <td>Maximum Value</td>

      </tr>
      <tr id="two3">
          <td>
              <input type="text" name="Envi Entity Name" />
          </td>
          <td>
              <input type="text" name="Property" />
          </td>
          <td>
              <input type="text" name="Minimum Value" />
          </td>
          <td>
              <input type="text" name="Maximum Value" />
          </td>
      </tr>
  </table>
  <br></br>
  <input type="submit"></input>
</form>

<!--go back to the Safety Related data page-->
<a href="/safetyRelatedData"><button class="regular" type="button">Previous</button></a>
<!-- There should be a next button that leads to the autofilled tables with
combonations of the info that the user put in these tables -->

<script>
//for the first table for component
$(document).ready(function () {
$('#addRow').click(function () {
   var count = 1,
       first_row = $('#two');
   while (count-- > 0) first_row.clone().appendTo('#table');
});

var myform = $('#myform'),
   iter = 2;
$('#addCol').click(function () {
   myform.find('tr').each(function(){
     var trow = $(this);
       if(trow.index() === 0){
           trow.append('<td>State '+iter+'</td>');
       }else{
           trow.append('<td><input type="text" name="cb'+iter+'"/></td>');
       }

   });
   iter += 1;
});
});

//first table for EE
$(document).ready(function () {
$('#addRow1').click(function () {
   var count = 1,
       first_row = $('#two1');
   while (count-- > 0) first_row.clone().appendTo('#table1');
});



var myform = $('#myform1'),
   iter = 2;
$('#addCol1').click(function () {
   myform.find('tr').each(function(){
     var trow = $(this);
       if(trow.index() === 0){
           trow.append('<td>State '+iter+'</td>');
       }else{
           trow.append('<td><input type="text" name="cee'+iter+'"/></td>');
       }

   });
   iter += 1;
});
});

/* these doesnt work because they would delete all of the new rows
function deleteRows() {
  document.getElementById("table").deleteRow(-1);
}

function deleteRows() {
  document.getElementById("table1").deleteRow(-1);
}
*/

//second component table
$(document).ready(function () {
$('#addRow2').click(function () {
   var count = 1,
       first_row = $('#two2');
   while (count-- > 0) first_row.clone().appendTo('#table2');
});
});

//second EE table
$(document).ready(function () {
$('#addRow3').click(function () {
   var count = 1,
       first_row = $('#two3');
   while (count-- > 0) first_row.clone().appendTo('#table3');
});
});
</script>


{% endblock %}
