{% extends "base.html" %}
#is this page for UPDATING and existing system?? or uploading an Existing system??
{% block pageTitle %}Upload Existing System data{% endblock %}
{% block content %}
<p>there will be upload buttons here(that work) where the person can upload </p>
<p>there will be a check to make sure that it is formated correctly</p>
<p>
    <button class="regular" type="button">Upload an existing system</button>
    <button class="regular" type="button">Upload a system for database</button>
</p>
<a href="/safetyAnalysisTool"><button class="regular" type="button">Previous</button></a>
{% endblock %}
